/* GLOBAL */
.ep-padding-50 {
  padding: 50px;
}

.ep-wrapper-60 {
  width: 60%;
  margin: 0 auto;
}

.mb-20 {
  margin-bottom:20px;
}

.text-white {
  color: #FFF;
}

.ep-light-green {
  background-color: #15BC9C;
 }

h2 {
  text-transform: uppercase;
}

/* HEADER */
.ep-header-top {
  height: 80px;
  line-height: 80px;
  background-color: #2C3D50;
}

.ep-header-top h1 a{
  font-size: 24px;
  text-decoration: none;
  vertical-align: middle;
}

nav ul li a{
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  color: #FFF;
}

.ep-jumbotron {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

.ep-jumbotron .ep-jumbo-img {
  width: 150px;
  height: 150px;
  display: inline-block;
}

.ep-jumbotron h2 {
  font-size: 36px;
}

.ep-jumbotron .ep-description {
  width: 60%;
  margin: 20px auto;
}

/* MAIN */
main #contact .btn {
  background-color: #15BC9C;
}

main #about .btn {
  background-color: #15BC9C;
  border-color: #FFF;
}

#portfolio .ep-box img{
  width: 100%;
  margin-bottom: 20px;
}

/* FOOTER */
footer .ep-footer-top {
  background-color: #39546D;
  padding-top: 30px;
}

footer .ep-footer-top li a {
  display: inline-block;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  color: #FFF;
  border: 1px solid #FFF
}

footer .ep-footer-top a {
  color: #15BC9C;
  text-decoration: none;
}

footer .ep-footer-bottom {
  line-height: 60px;
  vertical-align: middle;
  background-color: #2C3D50;
}

footer h3 {
  text-transform: uppercase;
  font-size: 16px;
}