/* GLOBAL */
html {
  scroll-behavior: smooth;
}

.ep-padding-50 {
  padding: 50px;
}

.ep-wrapper-60 {
  width: 60%;
  margin: 0 auto;
}

.mb-20 {
  margin-bottom:20px;
}

.text-white {
  color: #FFF;
}

.ep-light-green {
  background-color: #15BC9C;
 }

.ep-header-top .navbar-default a:hover,
.ep-header-top .collapse ul li a:hover,
footer .ep-footer-top a:hover {
  color: #15BC9C;
  border-color: #15BC9C;
  text-decoration: none;
}

.btn:hover {
  background-color: #15BC9C;
  opacity: 0.8;
}

h2 {
  text-transform: uppercase;
  font-weight: 600;
}

.row-star {
  position: relative;
  font-size: 18px;
  margin-bottom: 15px;
}

.row-star.ep-bg-white::before,
.row-star.ep-bg-white::after {
  background-color: #FFF;
}

.row-star::before {
  content: '';
  position: absolute;
  left: 27%;
  width: 20%;
  height: 3px;
  margin-top: 10px;
  background-color: #000;
}

.row-star::after {
  content: '';
  position: absolute;
  right: 27%;
  width: 20%;
  height: 3px;
  margin-top: 10px;
  background-color: #000;
}

/* HEADER */
.ep-header-top {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background-color: #2C3D50;
}

.navbar-default {
  height: 70px;
  background-color: #2C3D50;
  border: none;
  margin: 0 auto;
}

.navbar-default .navbar-brand {
  color: #FFF;
  font-size: 24px;
  padding: 8px;
  text-decoration: none;
  text-transform: uppercase;
}

.ep-header-top nav .collapse ul li a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
  text-transform: uppercase;
  color:#FFF
}

.ep-header-top nav button.navbar-toggle {
  margin-top: 20px;
}

.ep-header-top nav button.navbar-toggle span.icon-bar {
  background-color: #FFF;
}

.ep-header-top nav button.navbar-toggle:hover {
  background-color: transparent;
  border-color: #15BC9C;
}

.ep-header-top nav button.navbar-toggle:hover span.icon-bar {
  background-color: #15BC9C;
}

.ep-header-top nav .collapse.navbar-collapse {
  background-color: #2C3D50;
}

.ep-header-bottom {
  margin-top: 60px;
  margin-bottom: -20px;
}

.ep-jumbotron {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

.ep-jumbotron .ep-jumbo-img {
  width: 150px;
  height: 150px;
  margin-top: 30px;
  display: inline-block;
}

.ep-jumbotron h2 {
  font-size: 36px;
}

.ep-jumbotron .ep-description {
  width: 60%;
  margin: 20px auto;
}

/* MAIN */
main #portfolio .ep-box img{
  width: 100%;
  margin-bottom: 20px;
}

main .btn.btn-success {
  background-color: #15BC9C;
  border-color: #FFF;
  margin-top: 5px;
}

main #contact form input,
main #contact form textarea {
  width: 100%;
  height: 50px;
  border: none;
  border-bottom: 1px solid #CCC;
}

main #contact form textarea {
  padding-top: 30px;
  padding-bottom: 100px;
}

::placeholder {
  color: #000;
}
/* FOOTER */
footer .ep-footer-top {
  background-color: #39546D;
  padding-top: 30px;
  padding-bottom: 20px;
}

footer .ep-footer-top li a {
  display: inline-block;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  color: #FFF;
  border: 1px solid #FFF
}

footer .ep-footer-top a {
  color: #15BC9C;
  text-decoration: none;
}

footer .ep-footer-bottom {
  line-height: 60px;
  padding-top: 5px;
  vertical-align: middle;
  background-color: #2C3D50;
}

footer h3 {
  text-transform: uppercase;
  font-size: 16px;
}